@model AllRecipesViewModelContainer

@{
    ViewBag.Title = "All recipes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (@Model.RecipeModels.Count() == 0)
{
    <h1 class="text-center">@ViewBag.NoRecipesMessage <i class="bi bi-emoji-frown"></i></h1>
    <partial name="_SearchInputsForRecipies" />
}
else
{
    int i = Model.RecipeModels.Count();

    <partial name="_SearchInputsForRecipies" />


    <div class="row">
        @foreach (var recipe in Model.RecipeModels)
        {
            string cardBackground;
            string readMoreBtnBackground;

            if (i % 2 == 0)
            {
                cardBackground = "bg-info";
                readMoreBtnBackground = "btn-secondary";
            }
            else
            {
                cardBackground = "bg-secondary";
                readMoreBtnBackground = "btn-info";
            }

            i++;

            <div class="col-sm-4">
                <div class="card text-white @cardBackground my-3" style="width: 18rem;">
                    <img src="@recipe.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body shadow-lg rounded">
                        <h5 class="card-title">@recipe.Title</h5>
                        <p class="card-text">@recipe.Description</p>
                        <div class="btn-group">
                            <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.Id" class="btn @readMoreBtnBackground text-dark">Read more</a>

                            @if (this.User.Identity != null && this.User.Identity.IsAuthenticated && this.User.Id() == recipe.OwnerId)
                            {
                                <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@recipe.Id" class="btn btn-warning text-dark">Edit</a>
                                <button type="button" class="btn btn-dark text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>

                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Deleting shopping list</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this recipe
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <a class="btn btn-danger" asp-controller="Recipe" asp-action="Delete" asp-route-id="@recipe.Id">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (recipe.UserFavoritesId.Any(favoriteUserId => favoriteUserId == User.Id()))
                                {
                                   <a class="btn btn-danger" asp-controller="Recipe" asp-action="RemoveFromFavorites" asp-route-id="@recipe.Id">Remove From Favorites</a>
                                }
                                else
                                {
                                    <a asp-controller="Recipe" asp-action="AddToFavorites" asp-route-id="@recipe.Id" class="btn btn-success text-dark">Favorite</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts{
    <script>
        //function sendParameters() {
        //    let searchBy = document.querySelector('#searchType').value;
        //    let input = document.querySelector('#searchValue').value;
        //    //debugger
        //    disableSearchButton()

        //    $.ajax({
        //        type: "POST",
        //        url: "/Recipe/SearchForRecipe/",
        //        dataType: "json",
        //        data: { searchBy: searchBy, input: input },
        //        success: function(result) {
        //            debugger
        //            console.log(result)
        //            window.location.href = result.redirectToUrl;
        //        },
        //        error: function(req, status, error) {
        //            debugger
        //            console.log(status);
        //            console.log(error);
        //        }
        //    });
        //}

        function disableSearchButton() {
            debugger
            let searchedValue = document.querySelector('#searchValue').value;
            let searchBtn = document.querySelector('#search-btn')
            let searchType = document.querySelector('#searchType').value;

            if (searchedValue == "") {
                searchBtn.disabled = true;

                if ((searchType == "All")) {
                    searchBtn.disabled = false;
                    searchedValue.required = false;
                }
            } else {
                searchBtn.disabled = false;
                searchedValue.required = true;
            }
        }

        disableSearchButton()
    </script>
}