@model DetailRecipeViewModel

@{
    ViewBag.Title = Model.Title;
    int ingredientIterator = 1;
    int stepIterator = 1;

}

<h1 class="text-center display-4 text-primary">@ViewBag.Title</h1>
<hr />

<div class="row">
    <div class="col">
        <h3 class="text-bg-secondary text-dark rounded">From @Model.Creator</h3>
        <img src="@Model.ImageUrl" style="width:100%; height: 600px" class="rounded">
    </div>

    <div class="col">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <p>Description</p>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <figure class="text-center">
                            <blockquote class="blockquote">
                                <p class="mb-0">@Model.Description</p>
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p>Needed time to prepare this delicious recipe</p>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <div class="container overflow-hidden text-center">
                            <div class="row gy-5">
                                <div class="col-6">
                                    <p>Preparation time in minutes</p>
                                    <div class="p-3 border bg-success rounded">
                                        <p class="text-dark text-center">@Model.PreparationTime</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>Cooking time in minutes</p>
                                    <div class="p-3 border bg-secondary rounded">
                                        <p class="text-dark">@Model.CookTime</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>Additional time in minutes</p>
                                    <div class="p-3 border bg-secondary rounded">
                                        <p class="text-dark">@Model.AdditionalTime</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>Servings time in minutes</p>
                                    <div class="p-3 border bg-success rounded">
                                        <p class="text-dark">@Model.ServingsQuantity</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <p>Ingredients</p>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <form asp-controller="" asp-action="">
                            <ul class="list-group">
                                @foreach (var ingredient in Model.Ingredients)
                                {
                                    string background = ingredientIterator % 2 == 0 ? "primary" : "secondary";
                                    string checkBoxId = $"{ingredientIterator}Checkbox";

                                    <li class="list-group-item bg-@background">
                                        <label class="form-check-label" for="firstCheckbox">@ingredient.Key</label>
                                        <input asp-for="@ingredient.Value" class="form-check-input me-1" type="checkbox" value="@ingredient.Key" id="@checkBoxId">
                                    </li>

                                    ingredientIterator++;

                                }
                            </ul>
                            <button type="submit" class="btn btn-primary">Test</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <p>Steps</p>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">

                        @foreach (var step in Model.Directions)
                        {
                            int lastDigit = stepIterator % 10;
                            string suffix = string.Empty;
                            string background = stepIterator % 2 == 0 ? "primary" : "secondary";

                            switch (lastDigit)
                            {
                                case 1:
                                    suffix = "st";
                                    break;
                                case 2:
                                    suffix = "nd";
                                    break;
                                case 3:
                                    suffix = "rd";
                                    break;
                                default:
                                    suffix = "th";
                                    break;
                            }

                            <div class="card text-white bg-@background mb-3" style="max-width: 20rem;">
                                <div class="card-header">@lastDigit@suffix Step</div>
                                <div class="card-body">
                                    <p class="card-text">@step.Step</p>
                                </div>
                            </div>

                            stepIterator++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

    </script>
}