@model DetailRecipeViewModel

@{
    ViewBag.Title = Model.Title;
    int ingredientIterator = 1;
    int stepIterator = 1;

}

<h1 class="text-center display-4 text-primary">@ViewBag.Title</h1>
<hr />

<div class="row">
    <div class="col">
        <figure class="figure">
            <h3 class="text-bg-secondary text-dark rounded">From @Model.Creator.UserName</h3>
            <img src="@Model.ImageUrl" style="max-width: 100%; height: auto; width: auto\9;" class="rounded">
        </figure>
    </div>

    <div class="col">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <p class="text-dark lead">Description</p>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" style="">
                    <div class="accordion-body">
                        <figure class="text-center">
                            <blockquote class="blockquote">
                                <strong class="mb-0">@Model.Description</strong>
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="text-dark lead">Needed time to prepare this delicious recipe</p>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" style="">
                    <div class="accordion-body">
                        <div class="container overflow-hidden text-center">
                            <div class="row gy-5">
                                <div class="col-6">
                                    <p>Preparation time in minutes</p>
                                    <div class="p-3 border bg-success rounded">
                                        <p class="text-dark text-center">@Model.PreparationTime</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>Cooking time in minutes</p>
                                    <div class="p-3 border bg-secondary rounded">
                                        <p class="text-dark">@Model.CookTime</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>Additional time in minutes</p>
                                    <div class="p-3 border bg-secondary rounded">
                                        <p class="text-dark">@Model.AdditionalTime</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>Servings</p>
                                    <div class="p-3 border bg-success rounded">
                                        <p class="text-dark">@Model.ServingsQuantity</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <p class="text-dark lead">Ingredients</p>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" style="">
                    <div class="accordion-body">
                        <form method="post">
                            <button type="button" class="btn btn-outline-info mb-1" id="check-all-btn" onclick="CheckAllIngredients()">Check all</button>
                            <ul class="list-group">
                                @foreach (var ingredient in Model.Ingredients)
                                {
                                    string background = ingredientIterator % 2 == 0 ? "primary" : "secondary";
                                    string checkBoxId = $"{ingredientIterator}Checkbox";

                                    <li class="list-group-item bg-@background">
                                        <input class="form-check-input me-1 ingredients"
                                           type="checkbox"
                                           value="@ingredient.Value"
                                           name="IngredientsOutPut"
                                           id="Checkbox_@ingredientIterator"
                                           checked="@ingredient.IsChecked">

                                        <label class="form-check-label"
                                           for="Checkbox_@ingredientIterator">
                                            @ingredient.Description
                                        </label>
                                    </li>
                                    ingredientIterator++;
                                }
                            </ul>
                            @Html.HiddenFor(m => m.Title)
                            @Html.HiddenFor(m => m.Description)
                            @Html.HiddenFor(m => m.ImageUrl)
                            @Html.HiddenFor(m => m.PreparationTime)
                            @Html.HiddenFor(m => m.CookTime)
                            @Html.HiddenFor(m => m.AdditionalTime)
                            @Html.HiddenFor(m => m.ServingsQuantity)
                            @for (int i = 0; i < @Model.Directions.Count(); i++)
                            {
                                <input hidden name="Direction[@i].Step" value="@Model.Directions[i].Step"/>
                            }
                            @*<input hidden asp-for="@Model.Creator.UserName" value="@Model.Creator.UserName" />*@
                            <button type="submit" class="btn btn-outline-primary my-2" id="download-btn" asp-controller="ShoppingList" asp-action="Download" asp-route-id="@Model.Id">Download Ingredients <i class="bi bi-download"></i></button>
                            <button type="submit" class="btn btn-outline-primary my-2" id="save-btn" asp-controller="ShoppingList" asp-action="Save" asp-route-id="@Model.Id">Save Ingredients to a Shopping List</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <p class="text-dark lead">Steps</p>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" style="">
                    <div class="accordion-body">

                        @foreach (var step in Model.Directions)
                        {
                            int lastDigit = stepIterator % 10;
                            string suffix = string.Empty;
                            string background = stepIterator % 2 == 0 ? "primary" : "secondary";

                            switch (lastDigit)
                            {
                                case 1: suffix = "st"; break;
                                case 2: suffix = "nd"; break;
                                case 3: suffix = "rd"; break;
                                default: suffix = "th"; break;
                            }

                            <div class="card text-white bg-@background mb-3" style="max-width: 20rem;">
                                <div class="card-header">@lastDigit@suffix Step</div>
                                <div class="card-body">
                                    <h5 class="text-dark card-text">@step.Step</h5>
                                </div>
                            </div>

                            stepIterator++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/DetailJavascript.js"></script>
}