@model EditRecipeViewModel

@{
    ViewBag.Title = "Edit Your Favorite Recipe";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-1 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Recipe" asp-action="Edit" class="needs-validation" method="post">
            <div class="form-group">
                <label asp-for="@Model.Title" class="form-label">Title:</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="form-label mt-4">Description:</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageUrl" class="form-label">Image URL:</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row-2">
                    <div class="row">
                        <div class="col">
                            <label asp-for="@Model.PreparationTime" class="form-label">Preparation Time:</label>
                            <input asp-for="@Model.PreparationTime" class="form-control" aria-required="true" />
                            <span asp-validation-for="PreparationTime" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="@Model.CookTime" class="form-label">Cook Time:</label>
                            <input asp-for="@Model.CookTime" class="form-control" aria-required="true" />
                            <span asp-validation-for="CookTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="@Model.AdditionalTime" class="form-label">Additional Time:</label>
                            <input asp-for="@Model.AdditionalTime" class="form-control" aria-required="true" />
                            <span asp-validation-for="AdditionalTime" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="@Model.ServingsQuantity" class="form-label">Servings:</label>
                            <input asp-for="@Model.ServingsQuantity" class="form-control" aria-required="true" />
                            <span asp-validation-for="ServingsQuantity" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3 form-group" id="IngridientsDiv">
                <hr />
                @{
                    int ingredientsIndex = 0;
                }

                @foreach (var ingredient in Model.Ingredients)
                {
                    int ingredientsIndexLastDigit = (ingredientsIndex + 1) % 10;
                    string prefix;

                    switch (ingredientsIndexLastDigit)
                    {
                        case 1: prefix = "st"; break;
                        case 2: prefix = "nd"; break;
                        case 3: prefix = "rd"; break;
                        default: prefix = "th"; break;
                    }

                    <p id="ingredient-paragraph-@ingredientsIndex" class="ingredients-paragraphs">@(ingredientsIndex + 1)@prefix Ingredient:</p>
                    <div class='input-group ingredients-divs' id="ingredient-div-@ingredientsIndex">
                        <span class="input-group-text">Product and Quantity</span>
                        <input asp-for="@ingredient.Product" name="Ingredients[@ingredientsIndex].Product" type="text" placeholder='e.g. potato' class="form-control old-products" />
                        <input asp-for="@ingredient.Quantity" name='Ingredients[@ingredientsIndex].Quantity' type="text" placeholder='e.g. 1.3' class="form-control old-quantities" />
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Delete this product">
                            <button type="button" onclick="RemoveIngredient('@ingredientsIndex')" class="btn btn-outline-danger form-control delete-ingredients-btns"><i class="bi bi-x-square-fill"></i></button>
                        </span>
                    </div>

                    ingredientsIndex++;
                }
            </div>
            <hr />
            <a class="btn btn-info my-3" onclick="AddMoreIngredientFields()">Add Ingedients &nbsp; <i class="bi bi-plus-circle"></i></a>
            <div class="my-3 form-group" id="DirectionsDiv">
                <hr />
                @{
                    int stepsIndex = 0;
                }

                @foreach (var step in Model.Directions)
                {
                    int stepsIndexLastDigit = (stepsIndex + 1) % 10;
                    string prefix;

                    switch (stepsIndexLastDigit)
                    {
                        case 1: prefix = "st"; break;
                        case 2: prefix = "nd"; break;
                        case 3: prefix = "rd"; break;
                        default: prefix = "th"; break;
                    }

                    <div class="d-grid gap-2 d-md-flex justify-content-between mt-3">
                        <p>@(stepsIndex + 1)@prefix Step:</p>
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover focus" data-bs-content="Delete this step">
                            <button type="button" onclick="RemoveStep('@stepsIndexLastDigit')" class="btn btn-outline-danger form-control"><i class="bi bi-x-square-fill"></i></button>
                        </span>
                    </div>
                    <textarea asp-for="@step.Step" class='form-control old-steps' name='Directions[@stepsIndex].Step' aria-required='true' rows='5'></textarea>
                    <span asp-validation-for="@step.Step" class="text-danger"></span>

                    stepsIndex++;
                }
            </div>
            <a class="btn btn-info my-3" onclick="AddMoreDirectionsFields()">Add Steps &nbsp; <i class="bi bi-plus-circle"></i></a>
            <button class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        var ingredientsIndex = document.querySelectorAll('.old-products').length
        var stepsIndex = document.querySelectorAll('.old-steps').length

        function createSuffix(lastDigit) {
            let suffix;

            switch (lastDigit) {
                case 1: suffix = "st"; break;
                case 2: suffix = "nd"; break;
                case 3: suffix = "rd"; break;
                default: suffix = "th"; break;
            }

            return suffix;
        }

        function AddMoreIngredientFields() {
            let lastDigit = stepsIndex % 10
            let suffix = createSuffix(lastDigit);

            $("#IngridientsDiv").append(`
                            <p id="ingredient-paragraph-${ingredientsIndex}" class="ingredients-paragraphs">${ingredientsIndex + 1}${suffix} Ingredient:</p>
                            <div class='input-group ingredients-divs' id="ingredient-div-${ingredientsIndex}">
                            <span class="input-group-text">Product and Quantity</span>
                            <input name="Ingredients[${ingredientsIndex}].Product" type="text" placeholder='e.g. potato' class="form-control old-products" />
                            <input name='Ingredients[${ingredientsIndex}].Quantity' type="text" placeholder='e.g. 1.3 kg' class="form-control old-quantities" />
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Delete this product">
                            <button type="button" onclick="RemoveIngredient('${ingredientsIndex}')" class="btn btn-outline-danger form-control"><i class="bi bi-x-square-fill"></i></button>
                            </span>
                            </div>
                            `)

            ingredientsIndex++
            console.log(ingredientsIndex)
        }

        function AddMoreDirectionsFields() {
            let lastDigit = stepsIndex % 10
            let suffix = createSuffix(lastDigit)

            $('#DirectionsDiv').append(`
                                    <p>${stepsIndex + 1}${suffix} Step:<p>
                                    <textarea class='form-control' name='Directions[${stepsIndex}].Step' aria-required='true' rows='5'></textarea>
                                    <span asp-validation-for="Directions[${stepsIndex}].Step" class="text-danger"></span>`);

            stepsIndex++
        }

        function RemoveIngredient(id) {

            let divToRemove = document.querySelector(`#ingredient-div-${id}`)
            let paragraphToRemove = document.querySelector(`#ingredient-paragraph-${id}`)

            paragraphToRemove.remove()
            divToRemove.remove()

            let allIngredientsParagraphs = document.querySelectorAll(`.ingredients-paragraphs`)
            let allIngredientsDivs = document.querySelectorAll(`.ingredients-divs`)
            let allProducts = document.querySelectorAll('.old-products')
            let allQuantities = document.querySelectorAll('.old-quantities')
            let allDeleteIngredientBtns = document.querySelectorAll('.delete-ingredients-btns')

            for (let i = 0; i < allProducts.length; i++) {
                let lastDigit = (i + 1) % 10
                let suffix = createSuffix(lastDigit);

                allIngredientsParagraphs[i].innerText = `${i + 1}${suffix} Ingredient:`
                allIngredientsParagraphs[i].setAttribute('id', `ingredient-paragraph-${i}`)
                allIngredientsDivs[i].setAttribute('id', `ingredient-div-${i}`)
                allProducts[i].setAttribute('name', `Ingredients[${i}].Product`)
                allQuantities[i].setAttribute('name', `Ingredients[${i}].Quantity`)
                allDeleteIngredientBtns[i].setAttribute('onclick', `RemoveIngredient(${i})`)
            }

            ingredientsIndex = document.querySelectorAll('.old-products').length
        }

        function RemoveStep() {

        }
    </script>

    @*<script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function(popoverTrigger) {
            return new bootstrap.Popover(popoverTrigger)
        })
    </script>*@

    <partial name="_ValidationScriptsPartial" />
}