@model IEnumerable<DetailRecipeViewModel>

@{
    ViewBag.Title = "Your favorite recipes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (@Model.Count() == 0)
{
    <h1 class="text-center">You don't have recipes yet <i class="bi bi-emoji-frown"></i></h1>
}
else
{
    int i = Model.Count();

    <div class="row">
        @*<ul class="">*@
        @foreach (var recipe in Model)
        {
            string cardBackground;
            string btnBacground;

            if (i % 2 == 0)
            {
                cardBackground = "bg-primary";
                btnBacground = "btn-secondary";
            }
            else
            {
                cardBackground = "bg-secondary";
                btnBacground = "btn-primary";
            }

            i++;

            <div class="col-sm-4">
                <div class="card text-white @cardBackground my-3" style="width: 18rem;">
                    <img src="@recipe.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Title</h5>
                        <p class="card-text">@recipe.Description</p>
                        <a href="#" class="btn @btnBacground">Read more</a>
                    </div>
                </div>
            </div>
        }

    </div>
}